altgraph==0.17.4
importlib_metadata==8.4.0
macholib==1.16.3
packaging==24.0
pillow==11.1.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyQt6==6.5.2
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
zipp==3.18.1
